*{
    /*margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);*/
    cursor: url("imgs/th.png"), auto;
}

body{
    background-image: url("imgs/eddb58199250e1ea5faaf9a867b7265b.png");
    background-color: #154D66;
}

h1{
    color: white;
    background-color: #131416;
    
    font-weight: 400;
    font-style: normal;
}
.text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.color-basic{
    background-color: #131416;
}

.inside{
    height: 50px;
    width: 40%;
}

.backdrop{
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    pointer-events: none;
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    background-color: black;
    
}
.backdrop:hover{
    cursor: grab;
}

.text{
    color: white;
}

.idiot{
    height: 1rem;
    width: 1rem;
}

.center-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #131416;
}

.left-side{
    margin-left: 20px;
    background: rgba(255, 0, 0, 0.4);
    height: 98.3vh;
    width: 17.5%;
    position: absolute;
}

.right-side{
    margin-right: 20px;
    background: rgba(255, 0, 0, 0.4);
    top: 10px;
    right: 10px;
    height: 98.3vh;
    width: 17.5%;
    position: fixed;
    float: right;
}