*{
    /*margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);*/
    cursor: url("imgs/th.png"), auto;
}

body{
    
    background-color: #154D66;
}

h1{
    color: white;
    background-color: #131416;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.color-basic{
    background-color: #131416;
}

.inside{
    height: 50px;
    width: 40%;
}

.backdrop{
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    pointer-events: none;
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    background-color: black;
    
}
.backdrop:hover{
    cursor: grab;
}

.text{
    color: white;
}

.idiot{
    height: 1rem;
    width: 1rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
    background-color: #131416;
}