*{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    cursor: url("imgs/th.png"), auto;
}

.backdrop{
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    pointer-events: none;
    -ms-flex-align: center;
    
}
.backdrop:hover{
    cursor: grab;
}

.text{
    color: white;
}

.idiot{
    height: 1rem;
    width: 1rem;
}

